@charset "utf-8";

/*背景画像*/
.bg-main {
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

/*時間経過で変化するメッセージ*/
.comment {
    width: 50%;
    max-height: 400px;
    font-size: 48px;
    font-family: serif;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 20px;
    background-color: #ffffff;
    text-align: center;
    opacity: 75%;
}

/*タイマーのデザイン*/
.count-container {
  background-color: slategray;
  padding: 0.5rem;
  font-size: 4rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  opacity: 75%;
}

/*戻るボタン*/
.button {
  border-radius: 10px;
}

/* アジェンダとゴールのコンテナ */
.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.agenda-check {
  width : 100%
}

.agenda-container {
  display: flex;
  align-items: center;
  width: 100%;
}
/*アジェンダの表示について*/
#agenda-list {
  display: flex;
    flex-direction: column;
    align-items: center;
    /* リスト全体を中央揃え */
    width: 100%;
    /* コンテナの最大幅を設定 */
}

.agenda-box {
  width: 100%;
  min-height: 10px;
  font-size: 32px;
  font-family: serif;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 75%;
}
/*アジェンダを消すための横線*/
.agenda-box.completed {
  text-decoration: line-through;
  color: gray; /*線を引いたら色をうすく*/
}

#goal-list {
  width: 100%;
}

.goal-box {
  width: 100%;
  min-height: 10px;
  font-size: 32px;
  font-family: serif;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 75%;
}

/* チェックボックスのコンテナ */
.checkbox-container {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-checkbox {
  width: 25px;          /* 大きめのサイズ */
  height: 25px;
  cursor: pointer;      /* ポインターに変更 */
  accent-color: green;  /* チェック時の色を変更（ブラウザ対応が必要） */
}

/* 各行のレイアウト */
.row-item {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
