@charset "utf-8";

/*アジェンダインプット*/
.agenda-input{
    width: 80%;
    font-size: 32px;
    font-family:serif;
    border: 2px solid #16ff16;
    border-radius: 10px;
}
input{
    width: 400px;
    font-size: 32px;
    border-radius: 5px;
    font-family: serif;
}

/*背景画像*/
.bg-main{
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;
}
/*タイマーの入力が入ってるコンテナ*/
.count-container{
    background-color:slategray;
    padding: 0.5rem;
    font-size: 4rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
/*タイマーの入力部*/
#minutes-data{
    text-align: center;
    font-size: 3rem;
    width: 200px;
}